/* .raw_logo {
  height: 305;
  width: 440;
}
@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

*/

.animated-logo {
  animation: fadeInOut 2s ease-in-out infinite;
} 


